.hidden {display:none}
.whiteBoxMiddle {
    margin: 0px 0px 0px;
    padding: 10px  0px 0px 0px;
    background: red;
}

.faqQuestion {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: left;
    background: yellow;
    margin: 0px 0px 0px 0px;
    padding: 6px 6px 10px 26px;
    cursor: pointer;
}

.faqAnswer {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: left;
    background: gray;
    margin: 0px 0px 0px 0px;
    padding: 6px 6px 10px 26px;
    
}